<?xml version="1.0" encoding="UTF-8"?>
<routes>
	<route url="/" module="Bielletage" action="index"/>
	<route url="/bordereau/([0-9]+)" vars="id" module="Bielletage" action="invoice"/>
	<route url="/logout" module="Connexion" action="Logout"/>
	<route url="/connexion/doubleauth" module="Connexion" action="doubleauth"/>


	<route url="/Journal/index" module="Journal" action="index"/>
	<route url="/Journal/index/([0-9]{4}-[0-9]{2}-[0-9]{2})/([0-9]{4}-[0-9]{2}-[0-9]{2})/([0-9]+)" vars="debut,fin,value" module="Journal" action="index"/>


	<route url="/Users/myprofile" module="Users" action="profile"/>
	<route url="/Users/NewPassword" module="Users" action="newpassword"/>

	<route url="/Users/index" module="Users" action="index"/>
	<route url="/Users/deleteUsers/([0-9]+)" vars="id" action="deleteusers" module="Users"/>
	<route url="/Users/UpdateUsers/([0-9]+)" vars="id" action="updateusers" module="Users"/>
	<route url="/Users/doubleauth/reset/([0-9]+)" module="Users" vars="id" action="resetauth"/>
	<route url="/Users/doubleauth/([0-9]+)" module="Users" vars="id" action="doubleauth"/>






</routes>
