<?xml version="1.0" encoding="UTF-8"?>
<routes>
	<route url="/" module="Bielletage" action="index"/>
	<route url="/dashboard" module="Bielletage" action="dashboard"/>
	<route url="/logout" module="Connexion" action="Logout"/>
	<route url="/bielletage/([0-9]+)" vars="id" module="Bielletage" action="bielletage"/>
	<route url="/bordereau/([0-9]+)" vars="id" module="Bielletage" action="invoice"/>
	<route url="/bordereau/" module="Bielletage" action="invoice"/>
	<route url="/bielletage/add" module="Bielletage" action="add"/>
	<route url="/Journal/index" module="Journal" action="index"/>
	<route url="/Journal/index/([0-9]{4}-[0-9]{2}-[0-9]{2})/([0-9]{4}-[0-9]{2}-[0-9]{2})/([0-9]+)" vars="debut,fin,value" module="Journal" action="index"/>
	<route url="/Journal/delete/([0-9]+)" module="Journal" vars="id" action="delete"/>
	<route url="/Journal/validate" module="Journal" action="validate"/>
	<route url="/Journal/cancelvalidate/([0-9]+)" vars="id" module="Journal" action="cancelvalidate"/>
	<route url="/Arreter/index" module="Arreter" action="index"/>
	<route url="/Arreter/close/([0-9]+)" vars="id" module="Bielletage" action="stopcaisse"/>
	<route url="/Arreter/View/([0-9]+)" vars="id" module="Arreter" action="View"/>
	<route url="/Arreter/delete/([0-9]+)" module="Arreter" vars="id" action="delete"/>
	<route url="/Caisse/solde" module="Caisse" action="index"/>
	<route url="/Caisse/transfertfond" module="Caisse" action="transfertfond"/>
	<route url="/Caisse/ApproCaisse" module="Caisse" action="approcaisse"/>
	<route url="/Caisse/Transfert/delete/([0-9]+)" vars="id" module="Caisse" action="deleteTransfert"/>
	<route url="/Caisse/Appro/delete/([0-9]+)" vars="id" module="Caisse" action="deleteAppro"/>
	<route url="/Pannel/Caisse" module="Pannel" action="listecaisse"/>
	<route url="/Pannel/Agence" module="Pannel" action="listeagence"/>
	<route url="/Pannel/Agence/delete/([0-9]+)" module="Pannel" vars="id" action="deleteagence"/>
	<route url="/Pannel/Banque" module="Pannel" action="listebanque"/>
	<route url="/Pannel/Banque/delete/([0-9]+)" module="Pannel" vars="id" action="deletebanque"/>
	<route url="/Pannel/Produit" module="Pannel" action="listeproduit"/>
	<route url="/Pannel/Produit/delete/([0-9]+)" module="Pannel" vars="id" action="deleteproduit"/>
	<route url="/Arreter/reserve" module="Arreter" action="reserve"/>
	<route url="/Users/myprofile" module="Users" action="profile"/>
	<route url="/Users/NewPassword" module="Users" action="newpassword"/>
	<route url="/Users/index" module="Users" action="index"/>
	<route url="/Users/deleteUsers/([0-9]+)" vars="id" action="deleteusers" module="Users"/>
	<route url="/Users/UpdateUsers/([0-9]+)" vars="id" action="updateusers" module="Users"/>
	<route url="/Analytics/index" module="Analytics" action="index"/>
	<route url="/Analytics/uv" module="Analytics" action="uv"/>
	<route url="/Journal/petite_caisse" module="Journal" action="petitecaisse"/>
	<route url="/Analytics/chart" module="Analytics" action="chart"/>
	<route url="/Analytics/performance" module="Analytics" action="performance"/>
	<route url="/Users/delogger/([0-9]+)" vars="id" action="delogger" module="Users"/>
	<route url="/remittances/index" module="Remittance" action="index"/>
	<route url="/remittances/delete/([0-9]+)" module="Remittance" vars="id" action="delete"/>
	<route url="/remittances/validate" module="Remittance" action="validate"/>
	<route url="/remittances/cancelvalidate/([0-9]+)" vars="id" module="Remittance" action="cancelvalidate"/>
	<route url="/remittances/index/([0-9]{4}-[0-9]{2}-[0-9]{2})/([0-9]{4}-[0-9]{2}-[0-9]{2})/([0-9]+)" vars="debut,fin,value" module="Remittance" action="index"/>

	<route url="/Arreter/reserve/uv" module="Arreter" action="reserveuv"/>
	<route url="/Arreter/cancel/([0-9]+)" module="Journal" vars="id" action="cancelFermeture"/>
	<route url="/Pannel/links" module="Pannel" action="links"/>

	<route url="/Users/doubleauth/([0-9]+)" module="Users" vars="id" action="doubleauth"/>
	<route url="/connexion/doubleauth" module="Connexion" action="doubleauth"/>
	<route url="/Users/doubleauth/reset/([0-9]+)" module="Users" vars="id" action="resetauth"/>

	<route url="/payements/zone" module="Payements" action="zone"/>
	<route url="/payements/benficiaire" module="Payements" action="beneficiaire"/>
	<route url="/payements/zone/delete/([0-9]+)" module="Payements" vars="id" action="deleteZone"/>
	<route url="/payements/benficiaire/delete/([0-9]+)" module="Payements" vars="id" action="deleteBeneficiare"/>

</routes>
